<!DOCTYPE html>
<html>
<head>
    <title>Resume AI</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            background-color: #0f172a;
            color: white;
        }
    </style>
</head>

<body>

<!-- SIMPLE NAVBAR -->
<nav class="navbar navbar-dark bg-dark px-4">
    <a class="navbar-brand" href="{% url 'home' %}">ResumeAI</a>

    <div>
        <a href="{% url 'home' %}" class="text-white me-3">Home</a>
        <a href="{% url 'dashboard' %}" class="text-white me-3">Dashboard</a>
        <a href="{% url 'upload_resume' %}" class="text-white me-3">Upload</a>
        <a href="{% url 'resume_list' %}" class="text-white me-3">Resumes</a>
        <a href="{% url 'analytics' %}" class="text-white me-3">Analytics</a>
        <a href="{% url 'login' %}" class="text-white me-3">Login</a>
    </div>
</nav>

<div class="container mt-4">

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}

</div>

</body>
</html>